.main-content {
    color: #2b99e2;
  }


  .main-content { font-family: 'Courier New', Courier, monospace; font-size: 0,5em; line-height: 1.6em; color: black; text-align: center;
    text-align: center;
    }